/* Меню навігації */


.logo {
color: #2196F3;
position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

}
.logo1 {
color: #000000;     

}

.nav-studio {
color: #212121;
position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.nav-studio:hover,
.nav-studio:focus {
color: #2196F3;
}
.nav-portfolio {
    color: #212121;
    position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
}
.nav-portfolio:hover,
.nav-portfolio:focus {
    color: #2196F3;
}
.nav-contacts {
    color: #212121;
position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
}
.nav-contacts:hover,
.nav-contacts:focus {
    color: #2196F3;
}


.contact-link-mail {
    color: #757575;
    position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
}
.contact-link-mail:hover,
.contact-link-mail:focus {
color: #2196F3;
}
.contact-link-phone {
    color: #757575;
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
}
.contact-link-phone:hover,
.contact-link-phone:focus {
    color: #2196F3;
}

/* Рішення для бізнесу */

.business {
position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}
.business-your {
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
   
position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF
}
.business-button {
position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    
}
/* Наші переваги */
.advantages {
    position: absolute;
        width: 1170px;
        height: 98px;
        left: 215px;
        top: 774px;
}
.advantages-details {
position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}
.advantages-details-text {
    position: absolute;
        width: 270px;
        height: 72px;
        left: 215px;
        top: 800px;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.advantages-punctual {
position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.advantages-punctual-text {
position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.advantages-planning {
    position: absolute;
        width: 270px;
        height: 16px;
        left: 815px;
        top: 774px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}
.advantages-planning-text {
position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.advantages-technology{
position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.advantages-technology-text {
position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}